extends ../layout
block content
    h1= value.nome
    hr
    br
    p ID: #{value._id}
    p Nome: #{value.login}
    p Data de Cadastro: #{value.data_cad}
    br
    form(method="POST", action="/usuarios/delete/#{value._id}", role="form")
        input(type="submit", value="Excluir", class="btn btn-danger")
    br
    a(href="/usuarios" title="Voltar") Voltar
